# Ignore R-specific files
.Rhistory
.RData

# Ignore temporary files
*.Rproj.user/

# Ignore files in Day1 directory
/Codes/Day1/.Rproj.user

# Ignore files in "Materials" directory
"Materials"/

# Ignore R_packages directory
R_packages

# Ignore a specific PDF file
"Introduction to R-part1-1.pdf"

